[submodule "ExamenesViejos_AnalisisMatematico1_Computacion_FaMAF"]
	path = ExamenesViejos_AnalisisMatematico1_Computacion_FaMAF
	url = git@github.com:ExamenesViejos-FaMAF-Computacion/ExamenesViejos_AnalisisMatematico1_Computacion_FaMAF.git

[submodule "Famaf-Resources-Manager"]
	path = Famaf-Resources-Manager
	url = git@github.com:FAMAF-resources/Famaf-Resources-Manager.git
